#focusmate-notification {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 4px;
}

#focusmate-notification .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #000;
    opacity: 0.5;
    font-size: 18px;
}

#focusmate-notification .btn-close:hover {
    opacity: 1;
    cursor: pointer;
}